{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from grlistadm.hbs with _id.Group so we can render all the info --}}
{{!-- Table = group --}}

<h1>GROUP DETAILS</h1>
<div>

<h2>Update Group</h2>

<form action="/grdetadm/{{groupDet._id}}" method="POST" class="login"> 
    

    <label for="groupName">Group Name</label>
    </br>
    <input type="text" name="groupName" class="login-input" value="{{groupDet.groupName}}">
    </br>
    <label for="groupDescription">Group Description</label>
    </br>
    <input type="text" name="groupDescription" class="login-input" value="{{groupDet.groupDescription}}"> 
    </br>
    </br>
    <button type="submit" class="submit">Update</button>
</form>  
</div>
{{#if groupUpdated}}
    <p class="updated">{{groupUpdated}}</p>
{{else}}
    <p class="updated">Please, modify and update data.</p>
{{/if}}

<form action="/grlistadm" method="GET">
    <button type="submit" class="button-backto">BACK TO GROUPS</button>
</form>    
