{{!-- isAdmin = false --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We have all Groups for an _id.People in the token, we list first 
idGroups[].Group === _id.People and later other Groups --}}
{{!-- Table = group --}}




<h2>List of groups:</h2>
{{#if groupUpdated}}
    <p class="updated">{{groupUpdated}}</p>
{{else}}
    <p class="updated">You can see group excursions, join or leave groups</p>
{{/if}}

{{#each grListUsrAndUsr.data}}
<div class="container-list">
    <div class="list-row">
        <p class="p-title">{{this.groupName}}</p>
        <p class="p-descrip">{{this.groupDescription}}</p>
        
    </div>   

    <div class="buttons-addremovemeet">    

    
        {{#each this.idPeople}}
            {{#ifCond this ../../grListUsrAndUsr.user}}

                <form action="/melistus/{{../this._id}}" method="GET">
                <button type="submit" class="button-editdetails">EXCURSIONS</button>
                </form>
                <form action="/grlistus/remove/{{../this._id}}" method="POST">
                    <button type="submit" class="button-addremove">REMOVE -</button>
                </form>
            {{/ifCond}}
            {{#ifNotCond this ../../grListUsrAndUsr.user}}
                <form action="/grlistus/add/{{../this._id}}" method="POST">
                    <button type="submit" class="button-addremove">ADD +</button>
                </form>
            {{/ifNotCond}}
        {{/each}}

        {{#ifEmpty this.idPeople}}
            <form action="/grlistus/add/{{this._id}}" method="POST">
                <button type="submit" class="button-addremove">ADD +</button>
            </form>
        {{/ifEmpty}}
    </div>
</div>
{{/each}}




