{{!-- isAdmin = false --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from melistus.hbs with _id.Meetup so we can render all the info --}}
{{!-- Table = meetup --}}

<h1>EXCURSION DETAILS</h1>

<h2>DETAILS</h2>

<div>
    <p>Name: {{meetupDet.name}}</p>
    <p>Description: {{meetupDet.description}}</p>
    <p>Date: {{meetupDet.date}}</p>
    <p>Time: {{meetupDet.time}}</p>
    <p>Meeting point:</p>
    <p>Country: {{meetupDet.country}}</p>
    <p>City: {{meetupDet.city}}</p>
    <p>Zip code: {{meetupDet.zipcode}}</p>
    <p>Address: {{meetupDet.address}}</p>
    <p>Number: {{meetupDet.addressnum}}</p>
    <img href="{{api}}" alt="point of meetup image">
</div>

{{#if meetupUpdated}}
    <p>{{meetupUpdated}}</p>
{{else}}
    <p>You can join or leave an excursion.</p>
{{/if}}


<form action="/medetus/add/{{meetupDet._id}}" method="POST">
    <button type="submit">ADD +</button>
</form>

<form action="/melistus/remove/" method="POST">
    <button type="submit">REMOVE -</button>
</form>

<form action="/melistus/{{meetupDet.idGroup}}" method="POST">
    <button type="submit">BACK TO MEET UPs</button>
</form>
<form action="/grlistus" method="POST">
    <button type="submit">BACK TO GROUPs</button>
</form>    