{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from melistadm.hbs with _id.Meetup so we can render all the info --}}
{{!-- Table = meetup --}}

<h1>EXCURSION DETAILS</h1>
</br>
<h2>Update Excursion</h2>
</br>
</br>
<div class="detailwrapper"">
  <div class="metdetails0">
    
  <form action="/medetadm/{{meetupDet._id}}" method="POST" class="metdetails">
  
    <label for="name">Excursion Name</label>
    </br>
    <input type="text" name="name" class="login-input" value="{{meetupDet.name}}">
    </br>
    <label for="description"> Description</label>
      </br>
    <input type="text" name="description" class="login-input" value="{{meetupDet.description}}">
    </br>
    <label for="date">Date</label>
      </br>
    <input type="date" name="date" class="login-input" value="{{htmlDate}}">
    </br>
    <label for="time">Time</label>
      </br>
    <input type="time" name="time" class="login-input" value="{{meetupDet.time}}">
    </br>
    <label for="country">Country</label>
      </br>
    <input type="text" name="country" class="login-input" value="{{meetupDet.country}}">
       </br>
    <label for="city">City</label>
      </br>
    <input type="text" name="city" class="login-input" value="{{meetupDet.city}}">
    </br>
    <label for="zipcode">Zipcode</label>
      </br>
    <input type="text" name="zipcode" class="login-input" value="{{meetupDet.zipcode}}">
    </br>
    <label for="adress">Adress</label>
      </br>
    <input type="text" name="address" class="login-input" value="{{meetupDet.address}}">
    </br>
    <label for="adressnum">Adress Number</label>
    </br>
    <input type="text" name="addressnum" class="login-input" value="{{meetupDet.addressnum}}">
    </br>
    </br>
    <button type="submit" class="submit">MODIFY</button>
  </form>
  </div>
  <div class="mapa-img">
    <img src="{{api}}" alt="point of meetup image">
  </div>
</div>

{{#if meetupUpdated}}
    <p class="updated">{{meetupUpdated}}</p>
{{else}}
    <p>Please, modify and update data.</p>
{{/if}}

<form action="/melistadm/{{meetupDet.idGroup}}" method="GET">
    <button type="submit" class="button-backto">BACK TO EXCURSIONS</button>
</form>
<form action="/grlistadm" method="GET">
    <button type="submit" class="button-backto">BACK TO GROUPs</button>
</form>    