{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from melistadm.hbs with _id.Meetup so we can render all the info --}}
{{!-- Table = meetup --}}

<h1>EXCURSION DETAILS</h1>

<h2>DETAILS</h2>

{{!-- to read an array we need to add .0 or .0. not sure which one --}}
<div>
    <p>Name: {{meetup.name}}</p>
    <p>Description: {{meetup.description}}</p>
    <p>Date: {{meetup.date}}</p>
    <p>Time: {{meetup.time}}</p>
    <p>Lat: {{meetup.mapPoint.0.}}</p>
    <p>Lon: {{meetup.mapPoint.1.}}</p>
    <img="" alt="point of meetup image">
</div>

{{!-- Show message "Excursion updated" / "Excursion created" --}}
<form action="/medetadm" method="GET">
    <button type="submit">CREATE/MODIFY</button>
</form>  

<form action="/melistus" method="POST">
    <button type="submit">BACK TO MEET UPs</button>
</form>
<form action="/grlistus" method="POST">
    <button type="submit">BACK TO GROUPs</button>
</form>    