{{!-- isAdmin = true --}}

{{!-- 1 People --> "N" Groups
                    1  Group --> "N" Meetups
      1 People --> "N" Meetups  --}}

{{!-- We come from melistadm.hbs with _id.Meetup so we can render all the info --}}
{{!-- Table = meetup --}}

<h1>EXCURSION DETAILS</h1>

<form action="/medetadm/{{meetupDet._id}}" method="POST">
    <h2>Update Excursion</h2>

    <label for="name">Meet Up Name</label>
    <input type="text" name="name" value="{{meetupDet.name}}">

    <label for="description">Meet Up Description</label>
    <input type="text" name="description" value="{{meetupDet.description}}">

    <label for="date">Date</label>
    <input type="date" name="date" value="{{htmlDate}}">

    <label for="time">Time</label>
    <input type="time" name="time" value="{{meetupDet.time}}">

    <label for="country">Country</label>
    <input type="text" name="country" value="{{meetupDet.country}}">
     
    <label for="city">City</label>
    <input type="text" name="city" value="{{meetupDet.city}}">

    <label for="zipcode">Zipcode</label>
    <input type="text" name="zipcode" value="{{meetupDet.zipcode}}">

    <label for="adress">Adress</label>
    <input type="text" name="address" value="{{meetupDet.address}}">

    <label for="adressnum">Adress Number</label>
    <input type="text" name="addressnum" value="{{meetupDet.addressnum}}">

    <button type="submit">MODIFY</button>
</form>

<img src="{{api}}" alt="point of meetup image">

{{#if meetupUpdated}}
    <p>{{meetupUpdated}}</p>
{{else}}
    <p>Please, modify and update data.</p>
{{/if}}

<form action="/melistadm/{{meetupDet.idGroup}}" method="GET">
    <button type="submit" class="button-backto">BACK TO MEET UPs</button>
</form>
<form action="/grlistadm" method="GET">
    <button type="submit" class="button-backto">BACK TO GROUPs</button>
</form>    